*{
    margin:0;
    padding:0;
}
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    padding:10%;
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row{
    width:100%;
    height:100%;
    display:flex;
}
.grid{
    width:100%;
    height:100%;
    border: 1px solid blue;
}
.sketch{
    background-color: black;
}
#btnReset{
    color:white;
    background-color: blue;
    font-size: 1em;
    border-radius: 5%;
    width:100px;
    height:40px;
}
#btnReset:hover{
    background-color: red;
}